@charset "utf-8";

body{
    background-color:white ;
}
div{
    display: block;
}

h1{
    font-family: "Jost", sans-serif;
    display: block;
    font-size: 30px;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: #37517e;
}

h2{
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color: #37517e;
}

.top{
    text-align: center;
    padding-bottom: 30px;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 5px;
    justify-content: center;
}

.box{
        position: relative;
        box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
        padding: 30px;
        border-radius: 5px;
        background: #fff;
        transition: 0.5s;
        height: 60%;
        width : 20%;
        margin-top: 30px;
        display: inline-block;
        margin-inline: 20px;
       
        
}
sup{
    font-size: 28px;
    color: #37517e;
    font-weight: 400;
    font-family: "Jost", sans-serif;
    margin-bottom: 25px;
}
num{
    font-size: 48px;
    color: #37517e;
    font-weight: 400;
    font-family: "Jost", sans-serif;
    margin-bottom: 25px;
}
span{
        color: #47b2e4;
        font-size: 18px;
        display: block;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
    padding: 10px 0 10px 30px;
    position: relative;
}

ul{
    list-style-type: disc;
    padding: 10px 0 10px 30px;
    position: relative;
    padding: 20px 0;
    list-style: none;
    color: #999;
    text-align: left;
    line-height: 20px;
    
}
li::marker{
    content:'✔️';
    color:green;
}

li.xx::marker{
    content:'✖';
    color:green;
}
.not{
    text-decoration: line-through;
}
.start{
    display: inline-block;
    padding: 12px 35px;
    border-radius: 50px;
    color: #47b2e4;
    transition: none;
    font-size: 16px;
    font-weight: 500;
    font-family: "Jost", sans-serif;
    transition: 0.3s;
    border: 1px solid #47b2e4;
}

.start_bold{
    display: inline-block;
    padding: 12px 35px;
    border-radius: 50px;
    color: white;
    transition: none;
    background-color: #47b2e4;
    font-size: 16px;
    font-weight: 500;
    font-family: "Jost", sans-serif;
    transition: 0.3s;
    border: 1px solid #47b2e4;
}

.b1{
    background-color: white;
    overflow: auto;
}
.b2{
    background-color: white;
    overflow: auto;
    border-top: 5px solid #47b2e4;
}
.b3{
    background-color: white;
    overflow: auto;
}
