            .footer1 {
                background-color: aliceblue;
            }
            #footer3 {
                background-color: royalblue;
            }
            .section {
                background-color: white;
                display: inline-block;
                width:24%;
                vertical-align: top;
            }
            h3 {
                text-align: center;
                font-family: 'Poppins', sans-serif;
                color:royalblue;
            }

            h4 {
                text-align: center;
                font-family: 'Poppins', sans-serif;
                color:black;
            }

            .email {
                height:30px;
                width:400px;
                border-radius: 20px;
            }

            .subscribe {
                height: 40px;
                width: 90px;
                border-radius: 20px;
                background-color: skyblue;
                color: white;
            }

            #form {
                text-align: center;
            }

            #twt {
                display: inline-block;
                width: 30px;
                height: 30px;
                border-radius: 50%; 
                background-color: skyblue; 
                text-align: center; 
                line-height: 40px;
                color:white;
            }

            #fcb {
                display: inline-block;
                width: 30px;
                height: 30px;
                border-radius: 50%; 
                background-color: skyblue; 
                text-align: center; 
                line-height: 40px;
                color:white;
            }
            #inst {
                display: inline-block;
                width: 30px;
                height: 30px;
                border-radius: 50%; 
                background-color: skyblue; 
                text-align: center; 
                line-height: 40px;
                color:white;
            }

            #sky {
                display: inline-block;
                width: 30px;
                height: 30px;
                border-radius: 50%; 
                background-color: skyblue; 
                text-align: center; 
                line-height: 40px;
                color:white;
            }

            #lkdn {
                display: inline-block;
                width: 30px;
                height: 30px;
                border-radius: 50%; 
                background-color: skyblue; 
                text-align: center; 
                line-height: 40px;
                color:white;
            }

            .box {
                color:white;
                display:inline-block;
                height:50px;
            }