a {
    text-decoration:none;
}

h2 {
    font-family: 'Poppins', sans-serif;
    color:royalblue;
    text-align: center;
}

.left {
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    float: left;
    width:50%;
    box-sizing:border-box;
}
.right {
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    float: right;
    width:50%;
    box-sizing:border-box;
}

i {
    color:skyblue;
}
#learnmore {
    font-family: 'Poppins', sans-serif;
    color:skyblue;
    border: 2px solid skyblue;
    padding: 10px;
}